
.sub-ft-menu{
    margin:15px 0px 10px 20px;
    display: none;
    transition: 0.5s ease-out;
}
.sub-ft-menu li a{
    color: grey;
    font-size: 0.9rem;
}
.sub-ft-menu li a:hover{
    color: black;
    transition: 0.2s ease-out;
}
.sub-com-menu{
    margin:15px 0px 10px 25px;
    display: none;
}
.sub-com-menu li a{
    color: grey;
    font-size: 0.9rem;
}
.sub-com-menu li a:hover{
    color: black;
    transition: 0.2s ease-out;
}

/* toggle clases */

.menu-toggle{
    display:block;
    transition: 0.5s ease-out;   
}
.darkbgactive{
    background-image: linear-gradient(rgba(36, 36, 36, 0.5),
                       rgba(28, 27, 27, 0.5));
}
